/* input google font  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

img{
    width:100%
}
body{
    font-family: 'Poppins', sans-serif;
 background: #F3F1FF;
}

.container{
    width:870px;
    margin: auto;
}
.navbar{
    background-color: #562EFF;
  
}
.navbar img{
height: 51px;

}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
}
.nav a,span{
    color: #fff;
    text-decoration: none;
}
.logo {
    display: flex;
    align-items: center;
    color: #fff;
    gap: 10px;
}

.link{
    display: flex;
    align-items: center;
    gap: 10px;
}
